.Main_parent_Notification {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    background-color: #1a6de4;
    height: 45.6px;
    margin: 0 15px;
    border-radius: 4px;
}
.Main_Top_Notification {
    font-size: 13px;
    color: white;
    display: flex;
    align-items: center;
    height: 100%;
    display: flex;
    gap: 30px;
}
.Main_Top_Notification_Span {
    height: 70%;
    background-color: #f37e5d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 0 10px;
}
.CrossSvg {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}
.CrossSvg svg{
    overflow: hidden;
    width: 10px;
    color: #000;
    line-height: 1;
    opacity: .7;
    stroke: #fff;
    stroke-linecap: round;
    stroke-width: 4px;
    text-shadow: none;
}